<div class="jumbotron center hidden-xs">
    <div class = "container-fluid">
        <a href="http://www.uni-hamburg.de"><img class="pull-left"  src="{{site.baseurl}}imgs/uhh-logo.gif" alt="Uhh Logo"></a>
    </div>
    <div class = "container-fluid">
        <h1><a href="{{site.baseurl}}" ><span class="label label-default hidden-xs">{{ site.title }}</span></a></h1>
        <div class="h3"><span class="label label-default visible-xs">{{ site.title }}</span></div>
        <h2><small>{{ site.subtitle }}</small> </h2>
		<p>Feedback zu dieser Seite: <a href="mailto:kryptomail@informatik.uni-hamburg.de">kryptomail@informatik.uni-hamburg.de</a></p>
    </div>
</div>


